*{
    padding: 0;
    margin: 0;
}

html {
    min-height: 100%;
    background-image: url(/images/Counter-BG.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
 }
section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Container{
    width:400px;
    height:450px;
    border-radius:9px;
    border:2px solid #fff;
    box-shadow:8px 10px rgb(0, 0, 0);
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

h1{
    color: rgb(255, 255, 255);
    font-weight: 550;
    font-size: 3rem;
    margin-bottom: 100px;
}

h2 {
    color: green;
    font-size: 220px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 100px;
}

button{
    width: 200px;
    height: 50px;
    background-color: #0d2c54 ;
    color: white;
    padding: 8px;
    margin-bottom: 1rem;
    border-radius: 6px;
    font-weight: 500;
    font-size: 18px;  
    box-shadow: 2px 2px 8px black;
}

button:active{
    border: 1px solid rgb(255, 1, 1);
}
button:hover{
    cursor: pointer;
}
.fab {
    font-size: 1rem;
    padding-top: 15px;
    color: rgb(10, 10, 82);
}
.fab:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
}